<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="public/userStyle/otpStyle.css">
    <title>Document</title>
</head>
<body>
<%- include('../partials/notification.ejs')%>

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="p-5 bg-light border rounded" style="width: 360px;">

        <h5 class="text-center fw-bold">Enter otp</h5>
        <p class="text-center text-muted mb-4" style="font-size: 14px;">
            we have send a otp verification<br>
            code to your email
        </p>
        <form id="otpForm">
        <div class="mb-4 text-center">
            <input type="text" name="otp" id="otp" maxlength="4" class="form-control text-center" placeholder="Enter OTP">
        </div>
        <p id="error" class="text-danger"></p>
        <button type="submit" id="submit" class="btn  btn-primary w-100 mb-3">verify</button>
        <div class="timer">
          Resend otp again in <span class="text-bold" id="time">01:00</span>
        </div>
        </form>
           <form id="resendForm"  action="/signup" method="post">
             <p  id="resend"  class="text-center text-muted d-none">
            didn't receive the code?<br>
             <input type="hidden" name="userName" value="<%= userName %>">
             <input type="text" name="email" value="<%= email %>">
             <input type="hidden" name="password" value="<%= password %>">
             <input type="hidden" name="refferralCode" value="<%= referralCode %>">
             <input type="hidden" name="phoneNumber" value="<%= phoneNumber %>">
            <button type="submit" class=" btn btn-primary ">resend code</button>
            </p>
           </div>

    </div>
</div>
<%- include("../partials/footer") %>
</body>
<script>

    document.getElementById("submit").addEventListener('click',(e)=>{
      e.preventDefault()
        if(document.getElementById("otp").value===""){
             document.getElementById("error").textContent="OTP Required";
              return 
        }
        const  form = document.getElementById("otpForm");

        const data = JSON.stringify({
          otp:form.otp.value
        })
        fetch('/otpVerification',
          {method:"POST",
            headers:{'Content-Type':"application/json"},
            body:data
          }
        ).then(data=>data.json())
        .then(data=>{
          if(data.type==="success"){
            window.location.href = data.href
          }
          else if(data.type === 'error'){
            showToast(data.message,"error")
          }
        })
    })



    



   const  resendDiv = document.querySelector("#resend")
   const  timerEl = document.getElementById('time');


    time = 50;
   resendDiv.classList.add('d-none')
    timerEl.innerText = "01:00";

    setInterval(() => {
      let min = Math.floor(time / 60);
      let sec = time % 60;

      timerEl.innerText = `${min}:${sec < 10 ? '0' : ''}${sec}`;

      if (time <= 0) {
        timerEl.innerText = ''
        document.querySelector('.timer').classList.add('d-none')
        resendDiv.classList.remove('d-none')
      }

      time--;
    }, 1100);


  

   form.addEventListener('submit',(e)=>{
    e.preventDefault()


   })

</script>
<script src="/script/tost.js"></script>
</html>